@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}
