:root {
  --color-background-1: #1f1f1f;
  --color-background-2: #f2f2f2;
  --color-text-1: #000000;
  --color-text-2: #ffffff;
  --color-links-shapes: #2f80ed;
}

.page {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 1100px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  height: 32px;
  width: 183px;
}

.link {
  text-decoration: none;
  color: var(--color-links-shapes);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-background-2);
  max-height: 756px;
  min-height: 600px;
  height: 100vh;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  z-index: 2;
  margin: 0;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  background: no-repeat url(../images/header-image.png) center center/cover;
  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: var(--color-links-shapes);
  height: 568px;
  width: 568px;
}

.description {
  display: flex;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 100px auto 0;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--color-links-shapes);
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 100px auto;
}

.section-title {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  z-index: 1;
  position: relative;
  margin: 20px auto 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 20px;
  font-size: 18px;
  line-height: 1.2;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-2);
  height: 890px;
}

.feynman__photo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}

.feynman__title {
  z-index: 1;
  margin: 100px auto 70px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  z-index: 1;
  margin: 0 auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  background-color: var(--color-background-1);
  overflow: hidden;
  padding: 90px 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background: no-repeat url(../images/kaufman-triangle.svg) center center/cover;
  height: 877px;
  width: 877px;
}

.section-title_theme_dark {
  color: var(--color-text-2);
}

.section-subtitle_theme_dark {
  color: var(--color-text-2);
}

.table_theme_dark {
  z-index: 1;
  position: relative;
  color: var(--color-text-2);
}

.table__cell_theme_dark {
  margin-top: 80px;
  margin-right: 0;
  width: 200px;
}

.footer {
  background-color: var(--color-background-1);
  color: var(--color-text-2);
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 350px;
  width: 90%;
  padding: 60px 0 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
